ion-item{
    background-color: transparent;
}

ion-list{
    background-color: transparent;
}

/* messaging.css */

.message-bubble {
    max-width: 80%;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
    position: relative;
  }
  
  /* Bulles pour les messages envoyés */
  .sent {
    background-color: #dcf8c6;
    color: #000;
    align-self: flex-end;
    border-top-right-radius: 0;
    margin-left: auto;
  }
  
  /* Bulles pour les messages reçus */
  .received {
    background-color: #ffffff;
    color: #000;
    align-self: flex-start;
    border-top-left-radius: 0;
    margin-right: auto;
    border: 1px solid #ddd;
  }
  
  /* Conteneur pour la zone de saisie des messages */
  .message-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    position: relative;
    /* bottom: 5px;
    width: 95%;
    margin: 0 2.5%;
    border-radius: 5px; */
  }
  
  /* Champ de saisie des messages */
  .message-input-container ion-input {
    flex: 1;
    margin-right: 10px;
  }
  
  /* Bouton pour envoyer un message */
  .message-input-container ion-button {
    flex-shrink: 0;
  }
  

  .content-bulbes{
    display: flex;
    flex-direction: column;
  }

  ion-centent::part(native){
    --offset-top: 0px;
    --offset-bottom: 0px;
  }