.video-cours{
    width: 100%;
    height: auto;
    margin: 0;
}
.download-others{
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
    align-items: center;
}

.div-row{
    display: flex;
    justify-items: center;
}

.div-row ion-col{
    display: flex;
}

.download-others div{
    display: flex;
}

.download-others a{
    margin: 0 5px;
}

.btn-download img{
    background-color: orange;
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.details{
    padding: 0 10px;
}

.titre{
    color: #fff;
    width: 80%;
    padding: 0 20px;
}

.spin-content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-others ion-button::part(native){
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle();
    width: 100%;
}


.content-scrore{
    display: flex;
    /* justify-content: center; */
    color: orange;
    margin: 0;
}

.content-scrore p{
    margin: 0;
}


.non-list{
    margin: 0 10px;
    color: red;
}


.text-vues{
    color: orange;
    margin-left: 10px;
    font-weight: bold;
}

.content-col ion-col{
    width: 100%;
    display: flex;
    text-align: right;
    justify-content: flex-end;
}