
.content-details-formation-detail{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -50px;
    z-index: 99;
    background-color: #000;
    position: relative;
    padding: 20px;
}

.sc-ion-searchbar-md-h {
    --border-radius: 10px;
    --icon-color: #000;
    --color: #000;
    --placeholder-color: #000;
    --background: #fff;
    --border: #fff;
}

.list-lessons{
    width: 100%;
}

.spin-content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lessons-duree{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lessons-duree section{
    display: flex;
    flex-direction: column;
}

.lessons-link{
    text-decoration: none;
    width: 100%;
}

.lessons-link p{
    padding: 0px;
}

.lessons-link ion-row{
    align-items: flex-end;
}



.svg-lessons{
    width: 30px;
    margin-right: 10px;
    background-color: orange;
    border-radius: 5px;
    /* clip-path: circle(); */
}

.portrait-videos{
    width: 100px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}


.search-content{
    display: flex;
    justify-content: space-between;
    /* border-bottom: 2px solid orange;
    padding-bottom: 10px; */
}

.search-content ion-button{
    clip-path: circle();
}

.content-duree-soustitre-titre{
    margin: 0;
    width: auto;
}

.content-duree-soustitre-titre p{
    margin: 0;
}


.content-col ion-col{
    width: 100%;
    display: flex;
    text-align: right;
    justify-content: flex-end;
}